{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/result.css') }}">
{% endblock %}

{% block app_content %}
<div class="container">
    <div class="row align-content-center mx-auto my-3 text-center">
        <div class="col-12">
            <h1 class="">Expected Order Profile</h1>
            <h3>Of the {{ count }} uploaded users, you can expect the following:</h3>
        </div>
    </div>
    <div class="row">
        {% for c in counts %}
        <div class="col-lg-5 offset-lg-1 my-4">
            <div class="row">
                <div class="col-3">
                    <div class="count">
                        {{ counts.get(c) }}
                    </div>
                </div>
                <div class="col-9">
                    <strong>Type {{ c }}: </strong>
                    {% if desc.get(c) %}
                    {{ desc.get(c) }}
                    {% else %}
                    No description available yet
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center align-content-center my-3" id="submit">
        <a href="#heatmap" title="" data-toggle="modal" data-target="#heatmap">Compare order types by the numbers</a><br>
        <a href="/" class="btn btn-warning btn-lg mx-auto my-3 w-25">Back to Home</a>
    </div>
    <!-- Modal -->
    <div id="heatmap" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cluster Heatmaps</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <img src="{{ url_for('static', filename='heatmap.png') }}" class="img-fluid"
                         alt="Heatmap showing cluster centroids">
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
